
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-left">

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        {% include swipe-instructions.html %}

        {{ page.content | markdownify }}

        <div>
          {% for post in paginator.posts %}
            {% include post-list.html%}
          {% endfor %}
        </div>

        {% include pagination.html %}

        {% include social-buttons.html %}

        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->